# Output
dist
sapper/__sapper__

# Libs
node_modules
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# IDE
.vscode/*

# OS
.DS_Store

# Data
postgres-data
nestjs/upload/images/*
nestjs/upload/tmp/*

# Env
.env
nestjs/ormconfig.json