:root {
	--whit: #F1F1F1;
	--fore: #18181e;
	--back: #010102;
	--bord: #5d5d6d;

	--bhov: #f0f7ff09;
	--hove: #f0f7ff07;
	--acti: #f2f6ff0e;

	--red : #ee4f4f;
	--yelo: #eec44f;
	--gree: #80e295;
	--grey: #CBCBCB;
	--prim: #A6CFD5;
	--seco: #C2E7D9;
}
body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: var(--back);
	min-width: 350px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin: 0;
	box-sizing: border-box;
}
html, body {
	height: 100vh;
}
body, button, a { color: var(--whit) }
h1 {
	margin: 0 0 30px 0;
	font-size: 4em
}
::placeholder,
.dim { color: var(--grey) }

::-moz-selection { background: #00a2ff49 }
::selection { background: #00a2ff49 }

@media (max-width: 800px) {
	body {
		padding: 2em;
	}
}

label {
	display: block;
}

input[type="text"], input[type="password"] {
	height: 50px;
	font-size: 17px;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	background: #0000;
	border-radius: 5px;
	border: 1px solid var(--bord);
	outline: none;
	color: var(--whit);
	transition: .3s;
}
:is(input[type="text"], input[type="password"]):focus {
	border-color: var(--whit);
}