.theme-beach.arena-container > .arena {
	background:
		no-repeat center/cover
		url("/theme/beach/arena.jpg")
		!important;
}
.theme-beach.arena-container .ball {
	background:
		no-repeat center/cover
		url("/theme/beach/ball.jpg")
		!important;
}
.theme-beach.arena-container .paddle {
	background:
		no-repeat center/cover
		url("/theme/beach/paddle.jpg")
		!important;
}

.theme-poker.arena-container > .arena {
	background:
		no-repeat center/cover
		url("/theme/poker/arena.jpg")
		!important;
}
.theme-poker.arena-container .ball {
	background:
		no-repeat center/80%
		url("/theme/poker/ball.png")
		!important;
}
.theme-poker.arena-container .paddle {
	background:
		no-repeat center/cover
		url("/theme/poker/paddle.png")
		!important;
}

.theme-computer1.arena-container > .arena {
	background:
		no-repeat center/cover
		url("/theme/computer1/arena.jpg")
		!important;
}
.theme-computer1.arena-container .ball {
	background:
		no-repeat center/80%
		url("/theme/computer1/ball.png")
		!important;
}
.theme-computer1.arena-container .paddle {
	background:
		no-repeat center/cover
		url("/theme/computer1/paddle.png")
		!important;
}

.theme-dontpanic.arena-container > .arena {
	background:
		no-repeat center/cover
		url("/theme/dontpanic/arena.jpg")
		!important;
}
.theme-dontpanic.arena-container .ball {
	background:
		no-repeat center/80%
		url("/theme/dontpanic/ball.png")
		!important;
}
.theme-dontpanic.arena-container .paddle {
	background:
		no-repeat center/cover
		url("/theme/dontpanic/paddle.png")
		!important;
}

.theme-yourname.arena-container > .arena {
	background:
		no-repeat center/cover
		url("/theme/yourname/arena.jpg")
		!important;
}
.theme-yourname.arena-container .ball {
	background:
		no-repeat center/80%
		url("/theme/yourname/ball.png")
		!important;
}
.theme-yourname.arena-container .paddle {
	background:
		no-repeat center/cover
		url("/theme/yourname/paddle.png")
		!important;
}
