.arena-container:not(.theme-90) .🏟️, .🎾, .🏓 {
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
}

.arena-container:not(.theme-90) .🏟️ {
	background-image: var(--🏟️) !important;
}
.arena-container:not(.theme-90) .🎾 {
	background-image: var(--🎾) !important;
}
.arena-container:not(.theme-90) .🏓 {
	background-image: var(--🏓) !important;
}