$themes: "beach", "poker", "computer1", "dontpanic", "yourname";
@each $theme in $themes {
	.theme-#{$theme}.arena-container > .arena {
		background:
			no-repeat center/cover
			url('/theme/' + $theme + '/arena.jpg')
			!important;
	}
	.theme-#{$theme}.arena-container .ball {
		background:
			no-repeat center/cover
			url('/theme/' + $theme + '/ball.jpg')
			!important;
	}
	.theme-#{$theme}.arena-container .paddle {
		background:
			no-repeat center/cover
			url('/theme/' + $theme + '/paddle.jpg')
			!important;
	}
}

